.buildBar {
    composes: hudBar from "./shared.css";
    top: 0;
    right: 0;
}

.buildButton {
    /* */
}

.buildButtonActive {
    background: orange;
}

.buildButtonIcon {
    font-size: 40px;
}
