.hudBar {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    color: white;
}

.resourceBar {
    composes: hudBar;
    top: 0;
    left: 0;
}

.buildBar {
    composes: hudBar;
    top: 0;
    right: 0;
}

.buildButton {
    /* */
}

.buildButtonIcon {
    font-size: 40px;
}

.bottomBar {
    composes: hudBar;
    bottom: 0;
    left: 0;
    right: 0;
}
